@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.heading{
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
}

.main{
    background: url("./hero-bg.png");
}

.card{
    /* background-color: gray ; */
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

@media screen and (max-width:450px){
    
    .card{
        /* background-color: gray ; */
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
} 