/* .box { */
    /* transition: transform 0.3s ease-in-out; Smooth 0.3s transition */
    /* animation: appear linear;
    animation-timeline: view();
    animation-delay: 0.5s;
    animation-range: entry 0% cover 30%;
} */

/* @keyframes appear{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
} */



.box:hover {
    transform: translateY(-10px);
    cursor: pointer; /* Moves 10px down on hover */
}